body{
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	background: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* ........................................
  HEADER
........................................ */

.container{
	max-width: 1170px;
	width: 100%;	
	margin: 0 auto;	
	padding: 5px;
	/*border: 2px solid red;*/
}

.header__inner{	
	height: 88px;		
}
.header__logo{
	float: left;
    height: 85px;
    display: flex;
    align-items: center;
    
}

.header__nav{
	float: right;
    height: 85px;
    display: flex;    
    align-items: center;
    text-align: center;
}

.header__nav{

}
.nav__link{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 35px;
	color: #242a5a;
}

 .nav__link:first-child{
 	margin-left:0px;
 } 

/* ........................................
  INTRO
........................................ */

.intro{
	width: 100%;
	/*background: #10205a;*/
	
	background: url('../img/intro.jpg') no-repeat ;
	
	/*opacity: 0.6;*/
	background-size: cover;
	background-position: 50% 50%;    
	height: 858px;	
	padding-top: 5px;
	position: relative; 
	z-index: 100;	
}

.overlay{
	background: #10205a;
	opacity: 0.7;
	/*background-color: rgba(24, 30, 64, 0.7);*/
	position: absolute;	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.intro__header{
	
	width: 100%;
	height: 50px;
	
	/*border: 2px solid yellow;*/
	position: relative;
}
.intro__contact{
	position: absolute;
	top: 0;
	right: -110px;
	z-index: 8;
	background-color:#fff;
	width: 765px;
	height: 73px;
	clip-path: polygon(0 0, 100% 0, 95% 50%, 6% 50%);

}

.intro-container{
	max-width: 600px;
	margin: 0 auto;	
	
	height: inherit;
	padding-right: 30px;
	/*border: 2px solid red;*/
	
}
.intro__items-contact{			
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;

}

.intro__items{
	margin-left: 30px;
	display: flex;
	align-items: center;
	font-size: 15px;
	color: #131f4f;
}
.intro__items:first-child{
	margin-left: 0px;
}
.intro__items-img{
	height: 15px;
	margin-right: 5px;
}
.intro__items-img-mail{
	height: 20px;
}


.intro_-grid{
	display: flex;
	margin-top: 210px;
	justify-content: flex-end;	
	/*border: 1px solid red;*/
	position: relative;


}
.intro__title{
	width: 590px;	

}
.intro__title-h1{	
	color: #fff;
	font-size: 60px;
}
.intro__title-p{
	font-size: 15px;
	font-family: 'Rubik', sans-serif;
	color: #fff;
	font-weight: 400;
	line-height: 25px;
	/*letter-spacing: 0.1em;*/
}
.imtro__btn{
	display: flex;
	margin-top: 40px;
}
.btn{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 28px;
	border: 2px solid #fff;
	border-radius: 10px;
}
.imtro__btn .left{
	margin-right: 25px;
}

/* ........................................
  SECTION
........................................ */
.section__inner{


}

.section__inner-header{
	display: flex;
	justify-content: flex-end;
	
}
.section__inner-logo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 600px;
	
	padding: 20px 0;	
}
.line{
	position: relative;
	
}
.line__item{
	height: 5px;
	border: 5px solid #928fa9;
}

.section__img{
	position: absolute;
	bottom: 0px;
	z-index: 190;
	
}
.section__img img{
	width: 470px;
	height: 750px;
}
/* ........................................
  NATURAL
........................................ */
.natural__intro{	
	display: flex;
	justify-content: space-between;
	


}
.natural__text{
	width: 470px;
	height: 100%;	
}
.lorem{
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
}
.natural__title{
	margin-top: 140px;
	color: #082362;
	font-size: 36px;
	font-weight: bold;
}
.natural__title-team{
	font-size: 20px;
	font-weight: 500;
	color: #707070;
}
.line-text{
	margin-left: 45px;
	display: inline-block;
	width: 113px;
	height: 4px;
	background: #082362;
	font-weight: 400;
}
.natural__title-text{
	font-size: 16px;
	font-weight: 500;
	color: #707070;

}
.natural__price{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.price{
	font-size: 24px;
	font-weight: 500;
	color: #082362;
}
.natural__price p {
	margin: 0;
}
.natural__form-intro{
	width: 600px;
	height: 500px;
	margin-top: 100px;
	background: #082362;
	padding: 30px;
}
.title__form{
	color: #fff;
	font-size: 36px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;

}
.contact_form{
	max-width: 100%;
	height: auto;
	margin-top: 25px;
	
}
.contact_form input[type="text"] {
    width: 100%;
    margin-bottom: 25px;
    padding: 14px;
    font-size: 14px;
}
.contact_form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.contact_form input[type="submit"] {
	margin-top: 30px;
    width: 170px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #082362;
}

/* ........................................
  WORK
........................................ */
.work__intro{
	display: flex;
	width: 100%;	
	justify-content: center;

}
.work__intro-text{
	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
	width: 50%;	
	color: #fff;
	background: #082362;
}
.work__intro-items{
	display: flex;
	width: 450px;
	border: 2px solid;
	margin-right: 40px;
	
}
.work__intro-title{
	font-size: 36px;
	margin: 30px 170px 30px 0;
	
}

.work__intro-video{
	width: 50%;
	background: url(../img/video.jpg) no-repeat ;
	background-size: cover;
	background-position: center;	
}